body {
}

#coin {
  position: absolute;
  color: yellow;
  z-index: 3;
}

#goblin{
	position:absolute;
	top: 340px;
    left: 0px;
    z-index: 2;
}

#castle{
	position:absolute;
	top: 115px;
    left: 400px;
    z-index: 1;
}

#haha{
	position:absolute;
	top: 285px;
    left: 0px;
    z-index: 3;
}

#wall, #brokenwall{
	position:absolute;
	top: 320px;
    left: 150px;
    transform:flip;
    z-index: 3;
}


.miner {
    position: absolute;
    top: 252px;
    left: 230px;
}

.container {
	position: relative;
	padding:5px 30px 30px 30px;
	margin:30px;
	border:solid white 1px;
	border-radius:5px;
	/*background-color:#e6e6e6;*/
	text-align:left;
}

.give_tip {
  position: relative;
  color: red;
  font-size: 20px;
  margin:60px;
  text-align:left;
}

.btn-success, .btn-danger {
  width:200px;
}


